<div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#"><b>Overview</b></a></li>
        <li><a href="/project_activity/<%=projectid%>"><b>Activity</b></a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="/project_members/<%=projectid%>"><b>Members</b></a></li>
        <li><a href="/project_issues/<%=projectid%>"><b>Issues</b></a></li>
      </ul>

    </div>